<!-- All Users card -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <title>All Users</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="container">
    <h3 class="center-align red-text text-darken-2">All Users</h3>

    <div class="row">
      <% users.forEach((user) => { %>
        <div class="col s12 m6 l4">
          
            <div class="card">
            <div class="card-content center-align">
                <span class="card-title">
                    <!-- <a href="/users/<%= user._id %>"><%= user.username %></a> -->
                    <a href="/users/<%= user._id %>" class="user-card">
                        <div>
                          <h3><%= user.username %></h3>
                          <p><%= user.dichos ? user.dichos.length : 0 %> quotes</p>
                        </div>
                      </a>  
                </span>            
                </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <footer class="center-align">
    <p>2025 Rosa Perez | Painted Bird Designs
      <a href="https://github.com/paintedlbird7" target="_blank">GitHub</a> |
      <a href="https://www.rosapérez.com">Portfolio</a>
    </p>
  </footer>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll(".user-card").forEach(card => {
        card.addEventListener("click", (event) => {
            event.preventDefault();
            console.log(`User card clicked: ${event.target.closest('.user-card').href}`);
        });
      });
    });
  </script>
  
</body>
</html>
