<!-- views/dichos/index.ejs 
 http://localhost:3000/users/67d519654e4e53fcdad957c2/dichos
 Homepage when user loggs in -->

 <!-- TODO: fix should now be able to see a list of all of the applications you’ve created on this page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <title>Your Quotes Title</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div>
      <div>
    <h1>Your Quotes Homepage</h1>
    <a href="/users/<%=user._id%>/dichos/new">Add a Quote</a>
      <ul>
        <% dichos.forEach((dicho)=>{ %>
        <li><%= dicho.title %> <%= dicho.name %> <%= dicho.notes %></li>
        <% }) %>
      </ul>
  </body>
  </html>