<!-- views/dichos/index.ejs 
 http://localhost:3000/users/67d519654e4e53fcdad957c2/dichos
 Homepage when user loggs in -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <title>Your Quotes Title</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div>
      <div>
    <h1>Your Quotes Homepage</h1>
    <a href="/users/<%=user._id%>/dichos/new">Add a Quote</a>
    
        <% dichos.forEach((dicho)=>{ %>
        <li>
          <!-- Add a link around each application, directing to the 'show' page -->
          <a href="/users/<%= user._id %>/dichos/<%= dicho._id %>">
            <%= dicho.title %> at <%= dicho.name %>
          </a>
        </li>
        <% }) %>
      </ul>
  </body>
  </html>